:root{
    --absolute-white: #fff;
    --bg-black: #1e1e1e;
    --body-black: #191919;
    --border-body-black: #262626;
}

@import "_standardization";
@import "_fonts";

body{
    background-color: ;
}