h1, h2, h3, h4, h5, h6{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    line-height: normal;
}

body{
    font-weight: 400;
}

h1{
    text-align: center;
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h2{
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3{
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 42px */
}

h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
}

h5{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
}

h6{
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
}

button{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

input{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
